@import "tailwindcss";
html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
button,
a,
[role="button"],
.cursor-pointer {
  cursor: pointer;
}

button:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}